form
{
  background: #F8F6F5;
  border-radius: 10px;
  padding: 40px;
  margin: auto;
  width: 100%;
  max-width: 400px;
  text-align: left;
  
}
#root > div.Signin-form
{
  padding-top: 150px;
}
label 
{
    color: black;
    display: block;
}


 input {
        display: block;
        margin: 5px 0 10px;
        padding: 5px;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
        width: 100%;
}
button {
    background: #0d718d;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #064758;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.error {
    color: red;
    margin: -5px 0 10px;
  }
